#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* --------------------------------------------- */

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

nav {
  background-color: lightgreen;
  padding: 10px;
  border-radius: 50px;
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
}

.navbar {
  display: flex;
  align-items: center;
  position: fixed;
  background-color: lightgreen;
  padding: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 55%;
}

.navbar img.nav-logo {
  width: 50px;
  height: auto;
  margin-right: 25px;
}

.navbar a {
  margin-right: 85px;
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  display: inline-block;
}

nav a:hover {
  background-color: darkgreen;
  border-radius: 5px;
  color: white;
}

.horizontal {
  padding: 50px;
}

.img {
  width: 250px;
  height: 200px;
  object-fit: cover;
  border-radius: 25%;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.5);
  transform: rotate(-0deg);
  position: relative;
}

.menu-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.menu-card {
  width: 300px;
  margin: 10px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Favorites */

@keyframes slide {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-35%);
  }
}

.menu-container-favorites {
  display: flex;
  width: 250%;
  flex-wrap: nowrap;
  overflow: hidden;
  animation: slide 45s linear infinite;
}

.menu-card-favorites {
  width: 300px;
  margin: 10px;
  padding: 20px;
  border: 5px solid goldenrod;
  background-color: darkolivegreen;
  border-radius: 25px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  flex: 0 0 auto;
}

.form-container {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid grey;
  border-radius: 10px;
  background-color: lightslategrey;
}

.form-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-input-textbox {
  margin-bottom: 15px;
}

.form-input-textbox label {
  display: block;
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: bold;
}

.form-input-textbox input {
  width: 200px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 50px;
}

.form-input-textbox input:focus {
  border-color: #66afe9;
}

.form-radio-group {
  display: flex;
  justify-content: space-around;
  margin-bottom: 15px;
}

.form-radio-group label {
  font-size: 16px;
}

button[type="submit"] {
  width: 200px;
  padding: 10px;
  font-size: 18px;
  background-color: lightgreen;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: darkgreen;
  color: white;
}

.modal-poppingup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: lightgreen;
  color: black;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.modal-for-SignUp {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: grey;
  padding: 20px;
  border: 3px solid #ccc;
  border-radius: 25px;
}

.sign-in {
  color: #000;
}

.userName {
  color: black;
}

.modal-history {
  position: fixed;
  height: 100%;
  width: 25%;
  background-color: grey;
  padding: 20px;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  overflow-y: auto;
  z-index: 1000;
  border-radius: 10px;
}

.modal-history-desgin {
  margin: 20px;
}

.modal-history .close {
  font-weight: bold;
  position: absolute;
  font-size: 24px;
  top: 10px;
  right: 10px;
}

.order-kvitto {
  margin-bottom: 20px;
  padding-bottom: 10px;
}

.round-the-box {
  border-radius: 25px;
  width: 250px;
  height: 40px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.round-the-box:focus {
  border-color: #66afe9;
  outline: none;
}
